notifications:
  slack: stev-ou:aUr5603GLTxr0IAEuvjXAowo

language: python
python:
  # - "3.6" # uncomment to test 3.6 compatability
  # - "3.7"  # 3.7.0 development branch only - below installs stable
matrix:
  include:
    - python: 3.7
      dist: xenial
      sudo: true
# command to install dependencies
install:
  - echo "nothing to install"
# command to run tests
script:
  - echo "no tests now"
#   - python3 -m unittest discover -v -s tests/
#   - pylint --errors-only backend/
#   - cd ..



# Cache Gcloud SDK between commands
cache:
  directories:
    - "$HOME/google-cloud-sdk/"

# Install services
services:
  - docker

# Set env vars
env:
  global:
    - GOOGLE_APPLICATION_CREDENTIALS=~/gcloud-service-key.json
    - PROJECT_NAME=ou-reviews
    - CLOUDSDK_COMPUTE_ZONE=us-central1-c

before_deploy:
  - if [ ! -d "$HOME/google-cloud-sdk/bin" ]; then rm -rf $HOME/google-cloud-sdk; export CLOUDSDK_CORE_DISABLE_PROMPTS=1; curl https://sdk.cloud.google.com | bash; fi
  - source /home/travis/google-cloud-sdk/path.bash.inc
  - gcloud --quiet version
  - gcloud --quiet components update

deploy:
  - provider: script
    script: bash deploy.sh
    skip_cleanup: true
    on:
      branch: master
