.App {
}

.App-header {
  /* background-color: #dfe6e9; */
  background-color: #ffffff;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #62dafb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Info {
    padding-left: 20%;
    padding-right: 20%;
}

.SearchForm {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
